nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    padding-left: 100px;
    padding-right: 100px;
}
.menu a{
    text-decoration: none;
    margin-left: 20px;
    color: #fff;
    transition: .5s;
}
.menu a:hover{
    color: orange;
}